<h4>Problem statement</h4>
Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
fantaloonDF = pd.read_csv('/content/drive/My Drive/DS/Assignments/HypothesisTesting/Faltoons.csv')
# print(fantaloonDF.shape)
fantaloonDF.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

H<sub>o</sub> => Percentage of male and female <u>does not differ</u> based on days of week.<br>
H<sub>A</sub> => Percentage of male and female <u>differ</u> based on days of week.<br>

Since the input is categorical data, we will apply <strong>2 proportion<strong> test.

In [ ]:
weekdays_count = fantaloonDF["Weekdays"].value_counts()
weekends_count = fantaloonDF["Weekend"].value_counts()
print(weekdays_count)
print(weekends_count)

Female    287
Male      113
Name: Weekdays, dtype: int64
Female    233
Male      167
Name: Weekend, dtype: int64

In [ ]:
from statsmodels.stats.proportion import proportions_ztest
count = np.array([287, 233]) 
nobs = np.array([400, 400]) 
stat, pval = proportions_ztest(count, nobs, alternative='two-sided') 
print("P-value: {}".format(pval))

P-value: 6.26114287794602e-05

The p-value is less than the &alpha; value.<br>
<strong>Hence we reject the null hypothesis.</strong> We conclude that the proportions are not same.