In [36]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat

In [37]:
np.random.seed(6)

In [38]:
df = pd.read_csv("D:/DataScience/regression/Cutlets.csv")

In [39]:
df.isnull().any()

Unit A    False
Unit B    False
dtype: bool

In [40]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [41]:
df.dtypes

Unit A    float64
Unit B    float64
dtype: object

In [42]:
df.shape

(35, 2)

In [43]:
df = df.rename(columns={'Unit A': 'UA','Unit B': 'UB'})

In [44]:
df.head()

       UA      UB
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [45]:
df.describe()

              UA         UB
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [46]:
pop_mean = df.mean()

pop_mean

UA    7.019091
UB    6.964297
dtype: float64

In [47]:
stat.ttest_1samp(df, 7)

Ttest_1sampResult(statistic=array([ 0.3916196 , -0.61508606]), pvalue=array([0.6977831, 0.5425931]))

In [50]:
#one sample t-test

a_mean = np.mean(df)
print(a_mean)

UA    7.019091
UB    6.964297
dtype: float64

In [53]:
from scipy.stats import ttest_1samp

tset, pval = ttest_1samp(df, 7)

print('p-values',pval)

if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

p-values [0.6977831 0.5425931]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [57]:
#Paired sampled t-test

from scipy import stats

In [58]:
ttest,pval = stats.ttest_rel(df['UA'], df['UB'])
print(pval)

0.45623007680384076

In [59]:
#H0 :- mean difference between two sample is 0

#H1:- mean difference between two sample is not 0

if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

In [60]:
#one-sample Z test
from statsmodels.stats import weightstats as stests

In [61]:
ztest ,pval = stests.ztest(df['UA'], x2=None, value=7)
print(float(pval))

0.695339305255375

In [62]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

In [64]:
#Two-sample Z test

#H0 : mean of two group is 0

#H1 : mean of two group is not 0
ztest ,pval1 = stests.ztest(df['UA'], x2=df['UB'], value=0,alternative='two-sided')
print(float(pval1))

0.46976045023906077

In [65]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis